{% extends 'partials/base.html.twig' %}

{% block content %}
  {# {{ page.content|raw }} #}
  <div class="main-content swiper">
    <div class="swiper-wrapper">
      {% for filename in page.header.media_order | split(',') %}
        {{ page.media[filename].html(page.menu, page.menu, 'swiper-slide')|raw }}
      {% endfor %}
    </div>
  </div>
  <div class="project title-bar">
    <button type="button" name="button">Left</button>
    <span>
      <span class="project-title">
        {{page.title}}
      </span>
      by
      <span class="project-author">
        {{page.header.author}}
      </span>
    </span>
    <button type="button" name="button">Right</button>
  </div>

  {# screenings #}
  <ul class="screenings">
    <li>Screenings</li>
    {# {% for projectscheduleitem in schedule if item.title == page.title %} #}
    {% for projectscheduleitem in schedule %}
      {# check if we deal with a block or single item #}
      {% if projectscheduleitem.items|length > 1 %}
        {# block, have to check if this item is included in the list #}
        {% for item in projectscheduleitem.items if item == page.route %}
          <li>{{projectscheduleitem.time|date("l, F jS, Y—H:i")}}</li>
        {% endfor %}
      {% else %}
        {# single, have to check if this is the item #}
        {% if projectscheduleitem.items|first == page.route %}
          <li>{{projectscheduleitem.time|date("l, F jS, Y—H:i")}}</li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
