{% set aboutpage = pages.find('/about') %}

{% set schedulepage = pages.find('/program') %}
{# first sort all items by time #}
{% set schedule = schedulepage.header.schedule|sort_by_key("time") %}
{# find all days in the list #}
{% set days = [] %}
{% for scheduleitem in schedule %}
  {% set days = days|merge([scheduleitem.time|split(" ")|first]) %}
{% endfor %}
{# filter out everything to only unique days #}
{% set uniquedays = days|reduce(
    (uniquedays, item) => item in uniquedays ? uniquedays : uniquedays|merge([item]), []
) %}
{# sort days alphabetically #}
{% set uniquedays = uniquedays|sort %}




<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
{# make array of all items #}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} 🍿 {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% block extracss %}{% endblock %}
    {% do assets.addCss('theme://css/custom.css', 90) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('https://unpkg.com/feather-icons', 99) %}
    {% do assets.addJs('https://player.vimeo.com/api/player.js', 98) %}
    {% block extrajs %}{% endblock %}
    {% do assets.addJs('theme://js/index.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="light">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ home_url|e }}">
              <img class="light" src="{{ url('theme://images/logolight.svg')|e }}" alt="{{ config.site.title|e }}">
              <img class="dark" src="{{ url('theme://images/logodark.svg')|e }}" alt="{{ config.site.title|e }}">
            </a>
            <span class="context">
              {{aboutpage.header.context}}
            </span>
            <div class="light-dark">
              <span class="label light"><i data-feather="sunrise"></i></span>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span class="label dark"><i data-feather="sunset"></i></span>
            </div>
            <button type="button" name="menu" id="toggle-menu">Menu</button>
            {% block header_navigation %}
            <nav class="main-nav hide">
                {% include 'partials/navigation.html.twig' %}
                <button class="close-menu" type="button" name="close menu">×</button>
                <img src="{{ url('theme://images/logob.svg')|e }}" alt="{{ config.site.title|e }}">
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block topsection %}
            <div class="top-section">
              {# make invisible playorder for js script #}
              <ul class="playorder">
                {% for item in schedule %}
                  {% if item.items|length > 1 %}
                    {# block #}
                    <li data-time="{{item.time}}" data-duration="{{item.length}}" data-title="{{item.title}}" data-author="{{item.authors}}"></li>
                  {% else %}
                    {# single item #}
                    {% set project = pages.find(item.items|first.item) %}
                    <li data-time="{{item.time}}" data-duration="{{project.header.duration}}" data-title="{{project.title}}" data-author="{{project.header.author}}"></li>
                  {% endif %}

                {% endfor %}
              </ul>
              <div class="now-playing">
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
                <div class="playing-info">It's over for now, but not forever. <em>Home Cinema</em> will soon be back with more +++</div>
              </div>

              <hr>

              <div class="dashboard">
                <div class="intro">
                  {{ aboutpage.header.intro|markdown }}
                </div>
                <div class="navigation">
                  <ul class="location">
                    <li>{{page.title}}</li>
                    <li>(You're currently here)</li>
                  </ul>
                  <ul class="mode">
                    <li class="label light"><i data-feather="sunrise"></i></li>
                    <li class="label dark"><i data-feather="sunset"></i></li>
                    <li>You have chosen the <u class="light">light</u><u class="dark">dark</u> mode</li>
                  </ul>
                  <ul class="enter">
                    <li>
                      <button type="button" name="cinema" class="cinema-button"><nobr>[Enter Cinema]</nobr></button>
                    </li>
                    <li>Please put your phone on silent</li>
                  </ul>
                </div>
              </div>

              <hr>

            </div>
        {% endblock %}
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block cinema %}
<div class="cinema-wrapper">
  <div class="cinema-interface">
    <button type="button" name="cinema" class="cinema-button">[Exit Cinema]</button>
    <button type="button" name="cinema" class="chat-button"></button>
  </div>
  <div class="cinema-container">
    <iframe id="cinema" src="https://player.vimeo.com/video/{{ aboutpage.header.vimeo }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
  <div id="countdown-counter"></div>
  <div class="chat-container">
    <iframe src="https://vimeo.com/live-chat/{{ aboutpage.header.vimeo }}" frameborder="0"></iframe>
  </div>
</div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
